body {
	font-family: Tahoma, Arial, Helvetica, sans-serif;
	text-decoration: none;
	color: #000000;
	background-color: #ffffff;
	text-decoration-color: #000000;
	margin-top: 0%;
	margin-bottom: 0%;
	margin-left: 0%;
	margin-right: 0%;
}

/* new*/
#header{
	text-align: center;
	background-image: url("images/background/mel.jpg");
}

div.logo{
	float: left;
}

div.headers{
	margin-left: 250px;
	text-align: left;
	padding: 10px;
}

div.left{
	clear: both;
	width: 250px;
	float: left;
}

div.main{
	margin-left: 250px;
	margin-right: 330px;
	background-color: rgb(242, 242, 242); /*#eeeeee;*/
}

div.right{
	padding: 10px;
	float: right;
	width: 300px;
}

#footer{
	background-image: url("images/background/mel.jpg");
}

/*new */


h1.header, h2.header{
	margin-left:20px;
	color: #ffffff;
}

h1.main, h2.main {
	margin:10px;
}

h1.main {
	font-size: 130%;
}
h2.main {
	font-size: 140%;
	text-align: center;
}

h1, h2.main, h3.main, h3, strong, em {
	color: rgb(255, 90, 90);
}

td{
	padding: 0%;
}

td.logo{
	width: 250px;
	height: 143px;
}

td.topfon{
	height: 30px;
	vertical-align: bottom;
}
td.fon{
	width: 250px;
}

p {
	font-family: Tahoma, Arial, Helvetica, sans-serif;
	font-size: 12px;
	text-decoration: none;
	color: #000000;
}

p.main, h3.main, ul.main{
	font-size: medium;
	/*max-width: 1200px;*/
	text-align: justify;
	margin:10px;
	/*margin-left: 138px; */
}

.imaged_entry{
	/*clear: both;*/
	/* float: none; */
}

p.image {
	max-width: 1200px;
	max-width: 100%;
	text-align: justify;
}

.description_image {
	float: left;
	width: 128px;
}

.image{
	max-width: 100%;
	text-align: center;
}


p.footer{
	margin-top: 20px;
	text-align: left;
}

table.main{
	width: 100%;
	background-color: #eeeeee ;
}

table.footer{
	width: 100%;
}



td.footer{
	padding: 0%;
	background-color: #000000;
	vertical-align: top;
}

a.imagelink {
	text-decoration: none;
}
.menu a.blink{
	display: block;
color: white;
	text-decoration: none;
	background-color:dimgray;
	padding-top:8px;
	padding-bottom:8px;
	padding-right: 5px;
font-size:11px;
text-align: right;
width: 222px;
margin-bottom:-15px;
    text-transform: uppercase; 
}
.menu a:hover{
	display: block;
	text-decoration: none;
	background-color: red;
}
a.blink{
	color: dimgray;
	text-decoration: underline;
}
a:hover{
	text-decoration: none;
	background-color: white;
}

.blink a {
	 color: #cccccc;
	 text-decoration: underline;
	 font-size: 10px;
 }
.blink a:hover {
	color: #ffffff;
	background-color: inherit;
	text-decoration: none;
	font-size: 10px;
}
/* usual screen */
@media screen and (min-width: 601px) and (max-width: 1280px){
	div.main{
		margin-right: 0px;
	}
	div.right{
		clear: both;
		float: left;
		width: 240px;
		/*display: none;
		width: 0%;*/
	}
}

/* phone screen */
@media screen and (max-width: 600px){
	div.logo {
		float: none;
		text-align: center;
		padding-top : 10px;
	}

	div.headers {
		margin-left: 0;
		padding: 0px;
		width: 100%;
		text-align: center;
	}

	div.left, div.right{
		text-align: center;
		float: none;
		width: 100%;
	}

	div.main{
		margin-left: 0;
		margin-right: 0;
	}
.menu a.blink{
	width:100%;
	display: block;
color: white;
	text-decoration: none;
	background-color:dimgray;
	padding:6px;
font-size:13px;
text-align: center;
margin-bottom:-10px;
}
}