a {
    color: rgb(140, 140, 140);
}

#realmain {
    padding: 15px;
}

.img-service-rating {
    border-style: solid; 
    border-color: rgb(255, 90, 90); 
    border-width: 1px;
}

.menu_desktop {
    display:block;
}

.menu_mobile {
    display:none;
}

@media screen and (max-width:800px){
    .menu_desktop {
        display:none;
    }
    .menu_mobile {
        display:block;
    }
    
}